@{
    ViewData["Title"] = "Наша краска - ваше конкурентное преимущество";
    Layout = "_Layout";
}

<div align="justify" class="Main_information">
    <div>
        <h1 align="center">Наша краска – ваше конкурентное преимущество</h1>
        <p align="center"><img class="IMG" src="~/Photos/PaintPhoto.jpg" style="text-align: center;"/></p>
        <p>Из каких компонентов слагается успешный бизнес? Необходимо идти в ногу со временем, эффективно конкурировать и, самое главное, предложить именно тот продукт, который необходим Потребителю. И именно такой продукт предлагает российским предпринимателям наша компания. Мы являемся поставщиком порошковой краски отечественного производства Neon.</p>
        <p>Наша продукция объединяет лучшие традиции российских и советских химических предприятий и современный европейский подход к ассортименту и качеству. Сегодня в каталоге Neon более полутора тысяч оттенков, краска со специальными эффектами и хорошими защитными свойствами. Она на равных конкурирует с лучшими европейскими брендами и при этом отличается более доступной ценой.</p>
        <p>
            Мы готовы сделать всё для того, чтобы наша краска стала одним из конкурентных преимуществ вашего бизнеса. Нам есть что предложить представителям компаний, использующим в своем производстве порошковые краски .И не имеет значения, насколько крупный у вас бизнес. С нашей помощью смогут решить проблему поставок порошковой краски как крупные предприятия, так и новички на рынке.
            Обратитесь к нам прямо сейчас – мы оперативно высылаем актуальное коммерческое предложение и консультируем клиентов. Сделайте свой товар более привлекательным – закажите краску торговой марки Неон у нас.
        </p>
    </div>
    <div>
        <h1 align="center">Наша лаборатория</h1>
        <p align="center"><img class="IMG" src="~/Photos/lab.jpg" style="text-align: center;"/></p>
        <p>Практически каждая типография периодически сталкивается с присутствием в заказе специального цвета, который необходимо печатать смесевой краской, и причин этому может быть множество.</p>
        <p>
            Часто рецептуру краски рассчитывают вручную, основываясь на собственном опыте или, в крайнем случае, на рецепте, указанном в веере цветов системы Neon+.
            В результате может случиться, что цвет, полученный на печати, недостаточно точно соответствует образцу. Это приводит к существенной коррекции на приладке и, как правило, выливается в значительные затраты времени и расходных материалов.
        </p>
        <p>Можно заказать краску соответствующего цвета у поставщика. В этом случае, как правило, не происходит коррекции цвета на приладке. Но, поскольку срок изготовления краски зависит исключительно от поставщика, типография может столкнуться с простоем оборудования и даже срывом сроков сдачи тиража.</p>
        <p>
            Кроме того, точно рассчитать необходимое для печати тиража количество довольно сложно, что неизбежно ведет к разрастанию складских остатков краски.
            В связи с этим по мере увеличения количества заказов с дополнительным цветом всё более насущной становится проблема создания на производстве собственной красочной лаборатории.
        </p>
    </div>
    <div>
        <h1 align="center">Наше производство</h1>
        <p align="center"><img class="IMG" src="~/Photos/Production.jpg" style="text-align: center;"/></p>
        <p>Представляем вашему вниманию самое современное лакокрасочное производство!</p> 
        <p>
            Наша краска специально разработана с использованием ингредиентов высочайшего качества, чтобы гарантировать, что ваши стены и поверхности получат долговечную и потрясающую отделку. Наша краска идеально подходит как для жилых, так и для коммерческих помещений, и мы предлагаем широкий выбор цветов, чтобы соответствовать любому стилю или декору.
            Наш производственный процесс скрупулезный и точный, гарантируя, что каждая партия краски соответствует по цвету и текстуре.
        </p>
        <p>
            Мы используем только лучшие пигменты и добавки, чтобы создать краску, стойкую и устойчивую к выцветанию, сколам и шелушению. Наша краска также безвредна для окружающей среды, с низким уровнем летучих органических соединений для более здорового качества воздуха в помещении.
            Независимо от того, красите ли вы одну комнату или все здание, наша краска легко наносится и быстро высыхает, образуя гладкую и ровную поверхность. Он также обладает отличной укрывистостью, что позволяет добиться желаемого покрытия всего одним слоем.
        </p>
        <p>Наша команда по производству красок стремится к тому, чтобы вы получали высочайший уровень обслуживания и удовлетворения клиентов. Мы стремимся предоставить вам продукт, который соответствует вашим потребностям и превосходит ваши ожидания. Свяжитесь с нами сегодня, чтобы узнать больше о нашем производстве красок и разместить заказ.</p>
    </div>
</div>
